

  <div class="grid items-center grid-cols-1 gap-12 overflow-hidden lg:gap-24 md:grid-cols-2">

      <div class="prose prose-lg py-2">
        <h2 class="text-2xl lg:text-4xl">Sign up to be notified when registrations open</h2>
        <p>Registrations for the summit will open in May. Sign up and we'll email you when registration begins and keep you updates with the latest news.</p>
      
        <div id="clickd" class="embed">
            <script type="text/javascript">var loc = "https://analytics-eu.clickdimensions.com/iiedorg-asnkj/pages/";</script>
            <script type="text/javascript" src="https://cdn-eu.clickdimensions.com/web/v10/CDWidget.js"></script>
            <div pageID="7k2uosxkefcmtxweuhgdmw"></div>
        </div>

        <p>By sharing your information you agree to receive event updates from IIED. You can change your email preferences at any time. All information submitted is protected by our <a href="/privacy-policy">privacy policy</a>.</p>
      
      </div>

      <div>
            <img class="object-cover w-full" alt="alt" src="https://iied-lcfrs.lndo.site/sites/default/files/2025-05/climate-finance.jpg">
      </div>

  </div>
