      

{# overview #}

<div class="py-12">

    <div class="mx-auto mb-12 prose prose-lg">
        <p>
            A one-day summit uniting leaders from the resilience and finance worlds to unlock climate finance — from local communities to the global stage.
        </p>
    </div>    


    <div class="grid gap-12 mb-12 lg:grid-cols-3">
        <div class="p-4 prose prose-lg border border-fs-cyan-300">
            <p>
                <strong>Collaborate</strong> across the resilience and finance ecosystems to unlock climate finance from local communities to global initiatives
            </p>
        </div>
        <div class="p-4 prose prose-lg border border-fs-cyan-300">
            <p>
                <strong>Innovate</strong> with expert insights and solutions to address escalating climate risks, rising debt, and evolving insurance challenges
            </p>
        </div>
        <div class="p-4 prose prose-lg border border-fs-cyan-300">
            <p>
                <strong>Mobilise</strong> public and private capital through global partnerships to deliver resilience finance where it’s needed most — reaching the last mile&nbsp;
            </p>
        </div>
    </div>

    <div class="mx-auto mb-12 prose prose-lg">
        <p>
            As the frequency and intensity of climate-related events grow, alongside rising debt burdens and pressures on insurance markets, this summit will share expert insights and spotlight innovative financial solutions for financing climate resilience.&nbsp;&nbsp;
        </p>
        <p>
            We will also confront the urgent resilience challenges facing cities worldwide, while highlighting London’s leadership in tackling the global climate resilience challenge.
        </p>
    </div>
    
</div>