      
<div class="flex flex-wrap items-center justify-center w-full h-full gap-12 p-4 border-b border-cyan-500">

<div class="flex items-center gap-4">
    <div>Organised by</div>
    <div class="">
    <img class="h-20" src="/sites/default/files/2025-05/iied-lg-logo_1.svg" alt="IIED logo">
    </div>
</div>

<div class="flex items-center gap-4">  
    <div class="">Part of</div>
    <div class="">
    <img class="h-24" src="/sites/default/files/2025-05/lcaw-logo.svg" alt="LCAW logo">
    </div>
    </div>
</div>  

<div class="bg-fs-cyan-500"></div>
<div class="bg-fs-green-500"></div>
<div class="bg-fs-cyan-100"></div>
<div class="bg-fs-green-100"></div>
<div class="py-12"></div>
<div class="py-24"></div>

<div class="mx-auto mb-12 prose prose-lg text-center">  
    <h2 class="mb-4 text-2xl md:text-4xl lg:text-6xl text-fs-violet-500">Latest updates</h2>
    <p class="">Stay informed with the latest news and announcements</p>
</div>  

<div class="pb-12 text-white"></div>

<div class="text-4xl font-bold font-display lg:text-5xl xl:text-6xl">London 2025</div>
<div class="text-4xl font-thin font-display lg:text-5xl xl:text-6xl">Friday, 27 June</div>



<div class="py-12 mx-auto mb-6 text-4xl font-bold text-gray-900 max-w-7xl lg:text-5xl xl:text-6xl">
<span class="text-transparent bg-clip-text bg-gradient-to-b to-fs-red-800 from-fs-violet-800 font-display">
Join heads of state, senior government ministers, finance and business leaders, and civil society to discuss how we can mobilise finance for climate resilience.
</span></div>


{# General section for overview #}

<div class="grid grid-cols-1 gap-12 overflow-hidden lg:gap-24 lg:grid-cols-2">
    <div class="order-first mb-6 prose prose-lg">
        <h2>
           heading
        </h2>
        <p>
            Some text
        </p>
    </div>
    <div class="order-last">
        <img class="object-cover w-full" alt="alt" src="/sites/default/files/2025-05/Image-22.jpg">
    </div>
</div>

<div class="max-w-5xl w-sm"></div>
{# overview #}

<div class="py-12">

    <div class="mx-auto mb-12 prose prose-lg">
        <p>
            A one-day summit uniting leaders from the resilience and finance worlds to unlock climate finance — from local communities to the global stage.
        </p>
    </div>    


    <div class="grid gap-12 mb-12 lg:grid-cols-3">
        <div class="p-4 prose prose-lg border border-fs-cyan-300">
            <p>
                <strong>Collaborate</strong> across the resilience and finance ecosystems to unlock climate finance from local communities to global initiatives
            </p>
        </div>
        <div class="p-4 prose prose-lg border border-fs-cyan-300">
            <p>
                <strong>Innovate</strong> with expert insights and solutions to address escalating climate risks, rising debt, and evolving insurance challenges
            </p>
        </div>
        <div class="p-4 prose prose-lg border border-fs-cyan-300">
            <p>
                <strong>Mobilise</strong> public and private capital through global partnerships to deliver resilience finance where it’s needed most — reaching the last mile&nbsp;
            </p>
        </div>
    </div>

    <div class="mx-auto mb-12 prose prose-lg">
        <p>
            As the frequency and intensity of climate-related events grow, alongside rising debt burdens and pressures on insurance markets, this summit will share expert insights and spotlight innovative financial solutions for financing climate resilience.&nbsp;&nbsp;
        </p>
        <p>
            We will also confront the urgent resilience challenges facing cities worldwide, while highlighting London’s leadership in tackling the global climate resilience challenge.
        </p>
    </div>
    
</div>