

<div class="flex items-center my-4 lg:my-0">
    <div class="w-16 text-lg font-bold text-fs-violet-500">08:00</div>
    <div class="flex-1 border border-fs-cyan-200 max-lg:hidden"></div>
</div>

<div class="p-4 font-bold bg-fs-cyan-200 md:col-span-5 lg:ml-20">Lunch break</div>